# Maven
log/
target/
*.class

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.ipr
*.iml
*.iws

# Mac
.DS_Store

# Package Files
*.jar
*.war
*.ear

# Overlays
overlays/

/atlassian-ide-plugin.xml
*.log
