<!-- Sample spring-ws endpoint config file. Just here to have a ws endpoint to test the cas-server-support-webservice against. -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:component-scan base-package="org.roos.cas.ws.sample.endpoint"/>

  <sws:annotation-driven/>

  <!-- WSDL URL: https://localhost:8443/cas/auth/authentication.wsdl -->
  <sws:dynamic-wsdl id="authentication"
                    portTypeName="Authentication"
                    locationUri="/auth/"
                    targetNamespace="http://roos.cas.samples.ws.org/auth">
    <sws:xsd location="classpath:xsd/authentication.xsd"/>
  </sws:dynamic-wsdl>


</beans>